/*************************************************
**************************************************
    Copyright © 2025 GoBadri. All Rights Reserved.
    Brand Identity Designer, UI/UX Designer @GoBadri
    May 2025 | Version 1.0
------------------------------------------------
----------------------------------------------*/

:root{
  --ff: "Cairo", sans-serif;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-300: hsl(0, 0%, 70%);
  --clr-neutral-400: hsl(0, 0%, 60%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-600: hsl(0, 0%, 40%);
  --clr-neutral-700: hsl(0, 0%, 30%);
  --clr-neutral-800: hsl(0, 0%, 10%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-brand-1: #d40000;
  --clr-brand-2: #ffcc00;
  --clr-brand-3: #00ff00;

  --clr-blue: #88e5e6;
  --clr-red: #e68892;
  --clr-intersect: #8e505d;
  --clr-blue-darker: #4cc5c9;
  --clr-red-darker: #da6571;

  --background: var(--clr-neutral-200);
  --foreground: var(--clr-neutral-100);
  --surface: var(--clr-neutral-900);
  --surface-dark: var(--clr-neutral-400);
  --text-bright: var(--clr-neutral-900);
  --text-dim: var(--clr-neutral-500);
  --clr-nav-close: hsl(256, 50%, 10%, .25);
  --clr-nav-open: hsl(256, 50%, 10%, .85);
  --shadow: var(--clr-neutral-300);
  --accent: var(--clr-brand-1);
  --accent-inverted: var(--clr-brand-2);
  --white: var(--clr-neutral-200);
  --clr-header: hsl(0, 0%, 90%, .75);

  @media (prefers-color-scheme: dark) {
    --background: var(--clr-neutral-900);
    --foreground: var(--clr-neutral-800);
    --surface: var(--clr-neutral-100);
    --surface-dark: var(--clr-neutral-400);
    --text-bright: var(--clr-neutral-100);
    --text-dim: var(--clr-neutral-500);
    --text-black: var(--clr-neutral-900);
    --clr-nav-close: hsl(255, 15%, 95%, .25);
    --clr-nav-open: hsl(255, 15%, 95%, .85);
    --shadow: var(--clr-neutral-400);
    --accent: var(--clr-brand-2);
    --accent-inverted: var(--clr-brand-1);
    --white: var(--clr-neutral-200);
    --clr-header: hsl(0, 0%, 15%, .75);
  }

  
  --border-radius: 1rem;
  --flex-dir: row;
  --gap: 1rem;
  --fs: 1rem;
  --width: 80%;
  --space-top: 95svh;

  --brand-name: Technical for Engineering Services;
  --project-type: Brandind;
  --project-date: March,;
  --project-year: 2025;
  --project-location: Alexandria;




[data-theme="dark"] {
  --background: var(--clr-neutral-900);
  --foreground: var(--clr-neutral-800);
  --surface: var(--clr-neutral-100);
  --surface-dark: var(--clr-neutral-600);
  --text-bright: var(--clr-neutral-200);
  --text-dim: var(--clr-neutral-500);
  --text-black: var(--clr-neutral-900);
  --clr-nav-close: hsl(255, 15%, 95%, .25);
  --clr-nav-open: hsl(255, 15%, 95%, .85);
  --shadow: var(--clr-neutral-400);
  --accent: var(--clr-brand-2);
  --accent-inverted: var(--clr-brand-1);
  --white: var(--clr-neutral-200);
  --clr-header: hsl(0, 0%, 15%, .75);
}

[data-theme="light"] {
  --background: var(--clr-neutral-200);
  --foreground: var(--clr-neutral-100);
  --surface: var(--clr-neutral-900);
  --surface-dark: var(--clr-neutral-300);
  --text-bright: var(--clr-neutral-800);
  --text-dim: var(--clr-neutral-500);
  --clr-nav-close: hsl(256, 50%, 10%, .25);
  --clr-nav-open: hsl(256, 50%, 10%, .85);
  --shadow: var(--clr-neutral-300);
  --accent: var(--clr-brand-1);
  --accent-inverted: var(--clr-brand-2);
  --white: var(--clr-neutral-200);
  --clr-header: hsl(0, 0%, 90%, .75);
}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Cursor */
html, body{
cursor: url(/cursor.svg), auto;
scroll-behavior: smooth;
scroll-snap-align: start;
}

/* Text selection */
::-moz-selection {
color: var(--clr-red);
background: var(--clr-blue);
}

::selection {
color: var(--clr-red);
background: var(--clr-blue);
}


/* Scroll Bar */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar {
width: 10px;
height: 80%;
}

::-webkit-scrollbar-track {
background: #000;
border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
background: #88e5e6;
border-radius: 100vw;
border: solid 2px #000;
}

::-webkit-scrollbar-thumb:hover {
background: #e68892;
}

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
body {
  font-family: var(--ff);
  background-color: var(--background);
}

h1{
  color: var(--accent);
  font-weight: var(--fw-800);
  font-size: calc(var(--fs) * 3);
}

h2{
  color: var(--accent);
  font-weight: var(--fw-600);
  font-size: calc(var(--fs) * 1.5);
  margin-block: var(--gap);
}

h3{
  color: var(--text-dim);
  font-weight: var(--fw-600);
  font-size: calc(var(--fs) * 1.2);
  line-height: 4em;
}

h5{
  color: var(--text-bright);
  font-weight: var(--fw-600);
  font-size: var(--fs);
}

p{
  color: var(--text-bright);
  font-weight: var(--fw-400);
  font-size: calc(var(--fs) / 1.1);
  max-width: 100% !important;
}

button{
  background: none;
  cursor: pointer;
  border: 2px solid var(--text-bright);
  border-radius: calc(var(--gap) * .5);
  padding: calc(var(--gap) * .5) calc(var(--gap) * 1);
  color: var(--text-bright);
  font-family: var(-ff);
  font-size: calc(var(--fs) * 1.2);
  transition: all 250ms ease-in;
}

button:hover{
  border-radius: calc(var(--gap) * .75);
  color: var(--background);
  background: var(--surface);
  font-family: var(-ff);
}

table, th, td {
  border: 1px solid var(--background);
  border-collapse: collapse;
  padding: .5rem 1rem;
  color: var(--text-bright);
  font-size: calc(var(--fs)*.85);
  justify-self: canter;
  margin-block-start: calc(var(--gap)*2.5);

  @media (width > 60em){
    justify-self: start;
  }
}
th, td {
  background-color: var(--foreground);
  text-align: start;
}

td{
  min-width: 18rem;
}

.spacer{
  width: 100%;
  height: 10vh;
  background-color: transparent;
}

/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

header{
  position: fixed;
  top: var(--gap);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-header);
  backdrop-filter: blur(10px);
  width: 95%;
  filter: drop-shadow(0 0 1.25px var(--shadow));
  border-radius: 100vh;

  z-index: 999;

  @media (width > 70em){
    width: 85%;
  }
}

.header-container{
  position: relative;
  display: grid;
  place-content: center;
  width: 90%;
  margin-inline: auto;
}

.header-container svg{
  --factor: 3rem;

  width: var(--factor);

  @media (width > 35em){
    --factor: 4.5rem;
  }
}

.header-container svg #path1236{
  fill: var(--clr-blue);
}

.header-container svg #path1241{
  fill: var(--clr-red);
}

.header-container svg #path1250{
  fill: var(--clr-intersect);
}

.header-container svg #path1243{
  fill: var(--surface);
}

.back-btn {
  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.back-btn > a{
  display: grid;
  place-content: center;
  gap: calc(var(--gap)*1.2);
  text-align: center;
  text-decoration: none;
}

.back-btn > a:hover  .back-arrow{
  opacity: 1;
  animation: none;
}

.back-arrow{
  --arrow-stroke: 1px;

  position: relative;
  height: var(--arrow-stroke);
  aspect-ratio: 15 / 1;
  border-radius: 100vh;
  transform-origin: left;
  background-color: var(--surface);
  margin-inline: auto;
  opacity: .25;
  animation-name: arrow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 250ms ease;

  &::before,
  &::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: inherit;
    aspect-ratio: 5 / 1;
    background-color: inherit;
    transform-origin: inherit;
    border-radius: 100vh;
  }

  &::before{
    rotate: -30deg
  }

  &::after{
    rotate: 30deg;
  }

  @media (width > 50em){
    --arrow-stroke: 2px;
  }
}

@keyframes arrow {
  0% {transform: translateX(0);}
  60% {transform: translateX(0);}
  80% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

.socialmedia ul{
  display: flex;
  list-style: none;
  gap: var(--gap);
}

.socialmedia ul img{

  --factor: 1.5;

  width: calc(var(--gap)*var(--factor));
  filter: brightness(0) invert(0);
  transition: all 250ms ease-in;

  @media (prefers-color-scheme: dark){
    filter: brightness(0) invert(1);
  }
}

.nav-icon ul img{
  filter: brightness(0) invert(1) !important;

  @media (prefers-color-scheme: dark){
    filter: brightness(0) invert(0) !important;
  }
}

[data-theme="light"]{
  .socialmedia ul img{
    filter: brightness(0) invert(0);
  }

  .nav-icon ul img{
    filter: brightness(0) invert(1) !important;
  }
}

[data-theme="dark"]{
  .socialmedia ul img{
    filter: brightness(0) invert(1);
  }

  .nav-icon ul img{
    filter: brightness(0) invert(0) !important;
  }
}

.socialmedia ul img:hover,
.nav-icon ul img:hover{
  filter: brightness(1) invert(0) !important;
}


nav{
  background-color: var(--clr-nav-close);
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  left: var(--gap);
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left;
  width: .5rem;
  height: 60svh;
  border-radius: calc(var(--border-radius)*1.5);
  transition: all 250ms ease;
  z-index: 9999;

  @media (width > 50em){
    width: 1rem;
  }
}

nav::after{
  position: absolute;
  content: "";
  width: .125rem;
  border-radius: 100vh;
  aspect-ratio: 1/24;
  background-color: var(--accent-inverted);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (Width > 50em){
    width: .25rem;
  }
}

nav:hover,
nav:focus-within{
  transform: translate(0, -50%);
  background-color: var(--clr-nav-open);
  width: 20rem;

  &::after{
    right: .25rem;
    left: auto;
  }
}

.nav-wrapper{
  display: none;
}

nav:hover .nav-wrapper,
nav:focus-within .nav-wrapper{
  display: grid !important;
  height: 100%;
  grid-template-rows: 1fr auto;
  inset: 0;
  padding: calc(var(--gap)*3) calc(var(--gap)*3.5) calc(var(--gap)*3) calc(var(--gap)*2.5);
}

.main-nav ul{
  list-style: none;
  display: grid;
  gap: calc(var(--gap)*.5);
}

.main-nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-dim);
  display: inline-block;
  width: 100%;
  padding: 1rem .5rem;
  transition: all 350ms ease;
}

.main-nav ul li a:hover{
  color: var(--white);
  background-color: var(--accent-inverted);
}


/*----------------------------------------------
------------------------------------------------
THEME TOGGLE
------------------------------------------------
----------------------------------------------*/

/* Container for the switch and text */
.theme-switch-wrapper {
    display: grid;
    place-content: center;
    gap: calc(var(--gap)*.5);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.theme-toggle-description,
.back-btn-description{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .125em;
  font-size: calc(var(--fs)*.65);
}

/* The actual label that becomes the switch track */
.theme-switch {
  --track-width: 3rem;
  --track-height: 1.5rem;

  position: relative;
  display: inline-block;
  width: var(--track-width); /* Width of the track */
  height: var(--track-height); /* Height of the track */
  justify-self: center;

  @media (width > 50em){
    --track-width: 4rem;
    --track-height: 2rem;
  }
}

/* Hide the default browser checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider/track itself */
.slider {
  --track-padding: 4px;

  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--background);
  border: var(--track-padding) solid var(--background);

  transition: 0.4s;
  border-radius: 100vh;
}

/* The circular thumb/handle */
.slider:before {
  position: absolute;
  content: "";
  height: 100%; /* Size of the thumb */
  aspect-ratio: 1 / 1;
  left: 0; /* Starting position inside the track */
  bottom: 0;
  background-color: var(--text-bright); /* Light color for the thumb */
  transition: 0.4s;
  border-radius: 100vh; /* Makes the thumb circular */
}

.slider:after{
  position: absolute;
  content: "";
  aspect-ratio: 1 / 1;
  left: 0; /* Starting position inside the track */
  top: 0;
  background-image: url(/assets/img/dark\ theme.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: calc(var(--track-height) - calc(var(--track-padding)*2));
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: 0.4s;
}

/* * Styles when the checkbox is checked (Dark mode is ON)
 * The [data-theme="dark"] selector is used here to match the site's colors
 * when the dark theme is active, regardless of the system setting.
 */

/* Move the slider thumb to the right when checked */
#theme-toggle:checked + .slider:before {
  --translate: calc(var(--track-height) - calc(var(--track-height)*.1));

  transform: translateX(var(--translate)); /* 60px (track width) - 34px (track height) = 26px */
}

#theme-toggle:checked + .slider:after {
  --translate: calc(var(--track-height) - calc(var(--track-height)*.1));

  transform: translateX(var(--translate)); /* 60px (track width) - 34px (track height) = 26px */
  background-image: url(/assets/img/light\ theme.svg);
}

/* Change the track background color when checked */
#theme-toggle:checked + .slider {
  background-color: var(--background); /* A distinct color for "on" */
}

/* * Additional Styling for Light/System Theme
 * Let's change the color of the text next to the toggle
 */
body[data-theme="dark"] .theme-text {
  color: var(--text-bright);
}





/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/

.hero{
  width: 100%;
  height: 100svh;
  position: fixed;
  transform: translateY(calc(var(--space-top) * -1));
  z-index: -1;
  filter: blur(0px);
  transition: filter 350ms ease;
}

.hero .container{
  gap: calc(var(--gap) * 0.25);
}

.hero h1{
  justify-self: start;
  color: var(--text-bright);
  margin-top: 40svh !important;

  @media (width > 50em){
    margin-top: 15vh !important;
  }

  @media (width > 75em){
    margin-top: 35vh !important;
  }
}

.hero h3{
  justify-self: start;
  color: var(--text-dim);
}

.hero a{
  justify-self: start;
  margin-top: var(--gap);
}

.scrolldownshape{
  --shape-width: 1.2rem;
  --shape-height: calc(var(--shape-width) * 1.5);
  --shape-stroke: 2px;

  margin-inline: auto;
  margin-block-start: 2rem !important;
  position: relative;
  width: var(--shape-width);
  height: var(--shape-height);
  border-radius: 100vh;
  border: var(--shape-stroke) solid var(--surface);
  opacity: .5;
  animation-name: mouse;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 250ms ease;

  @media (width > 50em){
    --shape-width: calc(1.2rem * 1.7);

    margin-block-start: 5rem !important;
  }
}

@keyframes mouse {
  0% {transform: translateY(0);}
  20% {transform: translateY(10px);}
  80% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}

.scrolldownshape:hover{
  opacity: 1;
}

.scrolldownshape::before{
  position: absolute;
  content: "";
  width: var(--shape-stroke);
  transform: translateY(var(--shape-stroke));
  aspect-ratio: 1 / 7;
  background-color: var(--surface);
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (width > 50em){
    aspect-ratio: 1 / 12;
  }
}

.scrolldownshape::after{
  position: absolute;
  content: "SCROLL DOWN";
  font-family: inherit;
  font-weight: 200;
  text-align: center;
  font-size: calc(var(--fs)*.55);
  color: var(--surface);
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: calc(var(--fs)*.25);
  top: calc(var(--shape-height)*1.07);
}

main{
  width: 80%;
  background-color: var(--foreground);
  margin-inline: auto;
  margin-block-start: var(--space-top);
  margin-block-end: 2.5vh;
  padding: 10rem 5rem;
  border-radius: calc(var(--border-radius)*3);
  
}

.container{
  margin-inline: auto;
  max-width: var(--width);
  display: grid;
  place-items: center;
  gap: var(--gap);
}

.page-title{
  display: grid;
  place-items: center;
}

.text-only{
  width: 100%;
  text-align: center;

  @media (width > 50em){
    text-align: start;
  }
}

.collage-special{
  display: grid;
  grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  "five";
  margin-block: calc(var(--gap)*2);
  gap: var(--gap);

  @media (width > 50em){
    grid-template-areas: 
    "two one four"
    "three one five"
    ;
  }
}

.collage-special img{
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
  padding: calc(var(--gap)*2);
}

.one{

  @media (width > 50em){
    grid-area: one;
    height: 100%;
    aspect-ratio: 5 / 8 !important;
    object-fit: contain !important;
  }
}

.two{
  grid-area: two;
}

.three{
  grid-area: three;
}

.four{
  grid-area: four;
}

.five{
  grid-area: five;
}

.collage{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  overflow: clip;
  border-radius: calc(var(--border-radius)*2.5);
}

.collage img{
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
}

.feature{
  @media (width > 50em){
    grid-column: span 2;
    grid-row: span 2;
  }
}

.feature-block{
  aspect-ratio: 5 / 4 !important;

  @media (width > 50em){
    grid-row: span 2;
    aspect-ratio: 5 / 8 !important;
  }
}

.feature-inline{
  aspect-ratio: 5 / 4 !important;

  @media (width > 50em){
    grid-column: span 3;
    aspect-ratio: 15 / 4 !important;
  }
}

.img-right, .img-left{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: calc(var(--gap)*3);
}

.img-left img{
  grid-row: span 2;
  grid-column: span 2;

  border-radius: calc(var(--border-radius)*2.5);
}

.img-left .content{
  grid-row: span 2;
  grid-column: span 2;
}

.img-right .content{

  @media (width > 50em){
    grid-column: 1 / 3;
    grid-row: 1 / -1;
  }
}

.img-right img{

  @media (width > 50em){
    grid-column: 3;
    grid-row: 1 / -1;
  }
}

.img-right img,
.img-left img{
  width: 100%;
  object-fit: cover;
  object-position: top center;
  padding: calc(var(--gap)*3);
}

.white-BG{
  background-color: var(--white);
}

.blue-BG{
  background-color: var(--clr-brand-1);
}

.grey-BG{
  background-color: var(--clr-neutral-300);
}

.Brand-1-BG{
  background-color: var(--clr-brand-1);
}

.Brand-2-BG{
  background-color: var(--clr-brand-2);
}

.Brand-3-BG{
  background-color: var(--clr-neutral-500);
}

.img-right .content,
.img-left .content{
  align-self: center;
}

.img-top{
  width: 100%;
  margin-block: calc(var(--gap)*2);
}

.img-top svg{
  width: 100%;
  border-radius: calc(var(--border-radius)*2.5);
}

.img-top svg #rect1{
  fill: var(--background);
}

.img-top svg #main-item{
  fill: var(--surface-dark);
}

.img-top svg #guides{
  fill: none;
  stroke: var(--clr-brand-1);
  stroke-width: .5;
}

.full-width-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: calc(var(--gap)*2);
  margin-block: var(--gap);
}

.grid{
  width: 100%;
  margin-top: calc(var(--gap)*5);
  display: grid;
  place-items: center;
  gap: calc(var(--gap) * 1)
}

.grid h3{
  justify-self: start;
}

.grid-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: calc(var(--gap) * 1);
}

.grid-item{
  width: 100%;
  display: grid;
  padding: calc(var(--gap) * 1);
  place-items: center;
  gap: calc(var(--gap) / 3);
  border: 0.5px solid var(--surface);
  overflow: hidden;
}

.grid-item svg{
  width: 100%;
  grid-row: 1 / -1;
}

.grid-item svg > path{
  fill: var(--text-bright);
}

.full-width{
  width: 100% !important;
  object-fit: cover;
}

.full-width-item{
  width: 100%;
  padding: calc(var(--gap)*2);
  margin: 0;
  overflow: hidden;
  border: none;
  background-color: var(--surface-dark);
  padding: calc(var(--gap)*.5);
  gap: calc(var(--gap)*.062);
}

.full-width-item h3{
  color: var(--surface-dark);
}

.whiteBG{
  background-color: var(--white);
  padding: calc(var(--gap)*2.5);
}

.whiteBG h3{
  color: var(--text-bright) !important;
}

.whiteBG p{
  color: var(--text-dim);
}

.gallery-item{
  margin: 0;
  padding: 0;
  height: fit-content;
  display: grid;
  gap: calc(var(--gap)/2.5);
}

.gallery-item h3{
  padding-left: calc(var(--gap)*1.5);
  margin-top: 1rem;
  text-decoration: none;
  color: var(--text-bright);
}

.gallery-item p{
  padding-left: calc(var(--gap)*1.5);
  font-style: italic;
  color: var(--text-dim);
}

.grid-item a button{
  border: 1px solid var(--surface);
  font-size: calc(var(--fs)*.85);
}

.grid-item img{
  width: 100%;
}

.grid-item h5{
  place-self: start;
}

section{
  width: 100%;
  gap: calc(var(--gap)*3);

  h2{
    text-align: center;
    margin-block: var(--gap);
  }
}

.gallery{
  width: 100%;
  margin-top: calc(var(--gap)*2);
  display: grid;
  gap: var(--gap);
  padding: 0;
}

.project-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-type{
  position: relative;
  background-color: var(--surface-dark);
  color: var(--text-dim);
  margin-inline-end: calc(var(--gap)*1.5);
  padding-inline-end: calc(var(--gap)*1.5);
  padding-block: calc(var(--gap)*.4);
}

.project-type::before{
  position: absolute;
  content: '#';
  translate: calc(var(--gap)*-.6) 0;
}

.projects{
  display: inline-block;
}

.projects img{
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 0 !important;
}

.projects:first-child{
  grid-row: span 2;
  grid-column: span 2;
  aspect-ratio: 1 / 1.25;
}

.values{
  margin-block: 7rem;
}

.number-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: calc(var(--gap)*5);
  place-content: center;
  margin-block-start: 3rem;
}

.number-grid-item{
  width: 100%;
  text-align: center;
}

.big-number{
  font-family: "Bebas Neue", sans-serif;;
  font-size: calc(var(--fs)*8);
  font-weight: 900;
  line-height: 7rem;
  color: var(--accent-inverted);
  z-index: 1 !important;
}

.images-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);

  img{
    width: 100%;
    background-color: var(--white);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: calc(var(--border-radius)*1.5);
  }

  @media (width > 70em){
    img:nth-child(1){
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.logos{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);

  .logo-item{
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 1;
    padding: calc(var(--gap)*2);
    border-radius: var(--border-radius);
    overflow: clip;
    z-index: 1;

    svg{
      width: 100%;
    }

    &::before,
    &::after{
      position: absolute;
      content: "";
      background-image: var(--pattern);
      object-fit: cover;
      background-size: 25rem;
      background-repeat: no-repeat;
      
      left: 0;
      width: 100%;
      height: calc(var(--gap)*1.5);
    }

    &::before{
      top: 0;
      background-position: top;
    }

    &::after{
      bottom: 0;
      background-position: bottom;
    }

    &:nth-child(1){
      --pattern: url(img/pattern1.svg);

      svg #logo{
        fill: var(--clr-neutral-900);
      }

      svg #tagline{
        fill: var(--clr-neutral-600);
      }
    }

    &:nth-child(2){
      --pattern: url(img/pattern2.svg);

      svg #logo{
        fill: var(--clr-neutral-100);
      }

      svg #tagline{
        fill: var(--clr-neutral-200);
      }
    }

    &:nth-child(3){
      --pattern: url(img/pattern3.svg);

      svg #logo{
        fill: var(--clr-neutral-700);
      }

      svg #tagline{
        fill: var(--clr-neutral-500);
      }
    }

    &:nth-child(4){
      --pattern: url(img/pattern4.svg);

      svg #logo{
        fill: var(--clr-brand-3);
      }

      svg #tagline{
        fill: var(--clr-neutral-100);
      }
    }
  }
}

.color-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);

  @media (width > 70em){
    grid-template-columns: repeat(6, 1fr);
  }
}

.color-content{
  width: 100%;
}

.color-content p{
  font-size: var(--fs);
}

.color-content ol{
  margin-inline-start: 2rem;
  margin-block-start: .5rem;
  color: var(--surface);
}

.color-content ol li{
  font-size: var(--fs);
}

.color-value{
  aspect-ratio: 2.3 / 1;
  padding: var(--gap);
  border-radius: calc(var(--border-radius)*1.5);
}

.color-value:nth-of-type(1){
  background-color: var(--clr-brand-1);

  p{
    color: var(--white);
  }

  @media (width > 50em){
    aspect-ratio: 3.45 / 1 !important;
    grid-column: 1 / 4;
    grid-row: 1;
  }
}

.color-value:nth-of-type(2){
  background-color: var(--clr-brand-2);

  p{
    color: var(--surface-dark);
  }
  
  @media (width > 50em){
    aspect-ratio: 3.45 / 1 !important;
    grid-column: 4 / 7;
    grid-row: 1;
  }
}

.color-value:nth-of-type(3){
  background-color: var(--clr-brand-3);

  p{
    color: var(--surface-dark);
  }

  @media (width > 50em){
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

.color-value:nth-of-type(4){
  background-color: var(--clr-neutral-900);

  p{
    color: var(--white);
  }

  @media (width > 50em){
    grid-row: 2;
    grid-column: 3 / 5;
  }
}

.color-value:nth-of-type(5){
  background-color: var(--clr-neutral-200);

  p{
    color: var(--clr-neutral-900);
  }

  @media (width > 50em){
    grid-row: 2;
    grid-column: 5 / 7;
  }
}

/* .color-pallete{

  @media (width < 540px){
    display: none;
  }
} */

.color-items-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--gap)*1.2);

  @media (width > 70em){
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: end;
  }
}

.color-item{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: calc(var(--gap)*1);
}


.palette-circle{
  --circle-size: 100%;

  position: relative;
  width: var(--circle-size);
  aspect-ratio: 1 / 1;
  border-radius: 100vh;
  background: conic-gradient(
    var(--clr-1) 30deg,
    var(--clr-2) 30deg 60deg,
    var(--clr-3) 60deg 90deg,
    var(--clr-4)90deg 120deg,
    var(--clr-5) 120deg 150deg,
    var(--clr-6) 150deg 180deg,
    var(--clr-7) 180deg 210deg,
    var(--clr-8) 210deg 240deg,
    var(--clr-9) 240deg 270deg,
    var(--clr-10) 270deg 300deg,
    var(--clr-11) 300deg 330deg,
    var(--clr-12) 330deg 360deg
  );
}

.blue{
  --h: 0;
  --s: 100%;

  --clr-1: hsl(var(--h), var(--s), 42%);
  --clr-2: hsl(var(--h), var(--s), 45%);
  --clr-3: hsl(var(--h), var(--s), 50%);
  --clr-4: hsl(var(--h), var(--s), 55%);
  --clr-5: hsl(var(--h), var(--s), 60%);
  --clr-6: hsl(var(--h), var(--s), 65%);
  --clr-7: hsl(var(--h), var(--s), 70%);
  --clr-8: hsl(var(--h), var(--s), 75%);
  --clr-9: hsl(var(--h), var(--s), 80%);
  --clr-10: hsl(var(--h), var(--s), 85%);
  --clr-11: hsl(var(--h), var(--s), 90%);
  --clr-12: hsl(var(--h), var(--s), 95%);
}

.orange{
  --h: 48;
  --s: 100%;

  --clr-1: hsl(var(--h), var(--s), 50%);
  --clr-2: hsl(var(--h), var(--s), 53%);
  --clr-3: hsl(var(--h), var(--s), 55%);
  --clr-4: hsl(var(--h), var(--s), 57%);
  --clr-5: hsl(var(--h), var(--s), 60%);
  --clr-6: hsl(var(--h), var(--s), 65%);
  --clr-7: hsl(var(--h), var(--s), 70%);
  --clr-8: hsl(var(--h), var(--s), 75%);
  --clr-9: hsl(var(--h), var(--s), 80%);
  --clr-10: hsl(var(--h), var(--s), 85%);
  --clr-11: hsl(var(--h), var(--s), 90%);
  --clr-12: hsl(var(--h), var(--s), 95%);

  

  @media (width > 70em){
    grid-column: 2;
  }

  &  p{
    color: var(--surface-dark) !important;
  }
}

.black{
  --h: 120;
  --s: 100%;

  --clr-1: hsl(var(--h), var(--s), 50%);
  --clr-2: hsl(var(--h), var(--s), 53%);
  --clr-3: hsl(var(--h), var(--s), 55%);
  --clr-4: hsl(var(--h), var(--s), 57%);
  --clr-5: hsl(var(--h), var(--s), 60%);
  --clr-6: hsl(var(--h), var(--s), 64%);
  --clr-7: hsl(var(--h), var(--s), 70%);
  --clr-8: hsl(var(--h), var(--s), 75%);
  --clr-9: hsl(var(--h), var(--s), 80%);
  --clr-10: hsl(var(--h), var(--s), 85%);
  --clr-11: hsl(var(--h), var(--s), 90%);
  --clr-12: hsl(var(--h), var(--s), 95%);

  &  p{
    color: var(--surface-dark) !important;
  }
}

.grey{
  --h: 0;
  --s: 0%;

  --clr-1: hsl(var(--h), var(--s), 40%);
  --clr-2: hsl(var(--h), var(--s), 45%);
  --clr-3: hsl(var(--h), var(--s), 50%);
  --clr-4: hsl(var(--h), var(--s), 55%);
  --clr-5: hsl(var(--h), var(--s), 60%);
  --clr-6: hsl(var(--h), var(--s), 65%);
  --clr-7: hsl(var(--h), var(--s), 70%);
  --clr-8: hsl(var(--h), var(--s), 75%);
  --clr-9: hsl(var(--h), var(--s), 80%);
  --clr-10: hsl(var(--h), var(--s), 85%);
  --clr-11: hsl(var(--h), var(--s), 90%);
  --clr-12: hsl(var(--h), var(--s), 95%);

  &  p{
    color: var(--surface) !important;
  }

}

.palette-circle::before{
  position: absolute;
  content: "";
  width: calc(var(--circle-size)*.4);
  aspect-ratio: 1 / 1;
  background-color: var(--foreground);
  border-radius: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-data{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: calc(var(--gap)*.5);
}

.top-rect{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: calc(var(--gap)*.5);
}

.palette-rect,
.palette-square{
  background-color: var(--clr-1);
  width: 100%;
  padding: calc(var(--gap)*.5);
  border-radius: calc(var(--border-radius)*1.5);

  p{
    color: var(--white);
  }
}

.decor-rect{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: calc(var(--border-radius)*1.5);
  overflow: clip;
}

.decor-rect div{
  width: 100%;
  height: 2rem;
}

.decor-rect div:nth-child(1){
  background-color: var(--clr-1);
}

.decor-rect div:nth-child(2){
  background-color: var(--clr-4);
}

.decor-rect div:nth-child(3){
  background-color: var(--clr-8);
}

.decor-rect div:nth-child(4){
  background-color: var(--clr-12);
}

.margin-block{
  margin-block: calc(var(--gap)*5);
}

.img-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);
}

.img-area img{
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
}

.full-width-img{
  width: 100%;
  aspect-ratio: 5 / 1.5;
  object-fit: cover;
  padding: calc(var(--gap)*5) 0;
  background-color: var(--surface);
  border-radius: calc(var(--gap)*2.5);
}

.graphic-elements{
  border-top: 0.0015rem solid var(--surface-dark);
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);
  margin-block: calc(var(--gap)*2);
  align-items: center;


  @media (width > 50em){
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.graphic-elements img{
  width: 100%;
  aspect-ratio: 2.5 / 1;
  border-radius: calc(var(--border-radius)*2.5);
  object-fit: cover;
}



.typeface{
  display: grid;
  gap: var(--gap);
}

.font{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: calc(var(--gap)*2);
  padding-bottom: var(--gap);
  border-bottom: .5px solid var(--text-bright);
}

.font:last-of-type{
  border-bottom: none;
}

.glyphs{
  width: 100%;
  display: grid;
  align-items: start;
  gap: var(--gap);
}

.glyphs p{
  width: 100%;
  font-size: calc(var(--fs)*1);
  font-weight: 300;
  letter-spacing: .5em;
}

.heading{
  font-size: calc(var(--fs)*3);
  font-weight: 700;
}

.sub-heading{
  font-size: calc(var(--fs)*1.5);
  font-weight: 500;
}

.gallery-row{
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--gap)*2.25);
  padding-bottom: var(--gap);
  margin-block: calc(var(--gap)*3);
  border-bottom: 1px solid var(--surface-dark);

  .row-content{
    display: grid;
    gap: var(--gap);

    h3{
      line-height: 1.5em;
    }
  }
}

.gallery-row:last-of-type{
  border: none;
}

.row-imgs{
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);

  @media (width > 50em){
    grid-template-columns: repeat(2, 1fr);
  }

  img{
    width: 100%;
    background-color: var(--clr-neutral-200);
    object-fit: cover;
    border-radius: calc(var(--border-radius)*1.5);
  }
}

.logo-variation{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: var(--gap);
  margin-block: calc(var(--gap)*3);
}

.logo-variation-card{

  img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: calc(var(--border-radius)*1.5);
  }

  .img{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--surface);
    padding: calc(var(--gap)*3.5);
    border-radius: calc(var(--border-radius)*1.5);


    svg{
      width: 100% !important;
    }
  
    svg #logo{
      fill: var(--background);
    }
  
    svg #tagline{
      fill: var(--foreground);
    }
  }

  h4{
    color: var(--text-dim);
  }
}

.password-form{
  width: 100%;
  height: 100svh;
  display: grid;
  place-content: center;
  gap: var(--gap);

  input{
    padding: var(--gap);
    border-radius: calc(var(--border-radius)*.5);
    outline: none;
    border: 1px solid var(--surface);
    background: var(--foreground);
    color: var(--text-bright);
  }
}

.img-partition{
  width: 100%;

  img{
    width: 100%;
    border-radius: calc(var(--border-radius)*2.5);
  }
}

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/
footer{
  width: 80%;
  margin-inline: auto;
  background-color: var(--foreground);
  border-radius: calc(var(--border-radius)*3) calc(var(--border-radius)*3) 0 0;
  padding: var(--gap);

  @media (width > 35em){
    width: 80%;
  }
}

.footer-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 2);
}

.copyrights{
  display: grid;
  gap: var(--gap);
}

.copyrights ul{
  font-family: var(--ff);
  list-style: none;
}

.copyrights ul a{
  color: var(--accent);
}

.copyrights ul li{
  font-size: calc(var(--fs) / 1.2);
  color: var(--text-bright);
}

.footer-img{
  width: 6rem;
  aspect-ratio: 1 / 1;
  background-image: url(/faviconflat.svg);
  object-fit: cover;
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: center;

  @media (prefers-color-scheme: dark){
    background-image: url(/favicon.svg);
  }
}

[data-theme="dark"] {
  .footer-img{
    background-image: url(/favicon.svg);
  }
}

[data-theme="light"] {
  .footer-img{
    background-image: url(/faviconflat.svg);
  }
}



@media (width < 70em){
  .hero > img{
    translate: -15%;
    width: 100%;
  }

  .hero .container{
    gap: calc(var(--gap) * 0.25);
    margin-block-start: 15%;
  }
}

@media (width < 50em){
  .hero > img{
    translate: -50%;
    width: 180%;
  }

  .hero .container{
    gap: calc(var(--gap) * 0.25);
    margin-block-start: -15%;
  }
}

@media (width < 40em){
  .hero > img{
    translate: -20%;
    width: 200%;
  }

  .hero .container{
    gap: calc(var(--gap) * 0.25);
    margin-block-start: -25%;
  }
}

@media (width < 60em){
  :root{
      --border-radius: .5rem;
      --flex-dir: column;
      --gap: .5rem;
      --fs: .7em;
  }

  .socialmedia ul{
    gap: calc(var(--gap)*3)
  }

  .socialmedia ul img{
    --factor: 3;
  }

  header img{
    max-width: 3.125rem;
  }

  .hero h1{
    margin-top: calc(var(--gap) * 75);
    justify-self: center;
    text-align: center;
  }

  .hero h3{
    justify-self: center;
  }

  .hero a{
    justify-self: center;
  }

  main{
      width: 95%;
      padding: calc(var(--gap)*5) calc(var(--gap)*.5);
  }

  footer{
    width: 95%;
    padding: calc(var(--gap)*5) calc(var(--gap)*.5);
  }

  .container{
      max-width: 95%;
  }

  .img-right{
    grid-template-columns: 1fr;
  }

  .img-right .content{
      width: 100%;
  }

  .img-left img{
      grid-row: 1;
      justify-self: center;
  }

  .img-left .content{
      width: 100%;
  }

  .service{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10% 1fr;
  }

  .service img{
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .service h5, .service p{
    grid-column: 2;
  }

  .service h5{
    grid-row: 1;
  }

  .service p{
    grid-row: 2;
  }

  .postdesign{
      margin-block: calc(var(--gap) * 2);
    }

  .postdesign > img{
      width: 100%;
  }

  .threeColors{
    flex-direction: row !important;
  }

  #threeImg{
    width: 70%;
  }

  .footer-container{
    flex-direction: column-reverse;
  }

  .footer-container img{
    width: 25%;
  }

  .projects:first-child{
    aspect-ratio: 1 / 1;
    grid-row: 1;
    grid-column: 1;
  }
}