/*************************************************
**************************************************
    Copyright © 2025 GoBadri. All Rights Reserved.
    Brand Identity Designer, UI/UX Designer @GoBadri
    May 2025 | Version 1.0
------------------------------------------------
----------------------------------------------*/

:root{
    --ff: "IBM Plex Sans Arabic", sans-serif;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --clr-neutral-100: #eeeef0;
    --clr-neutral-200: #c8cedb;
    --clr-neutral-300: #9da4b3;
    --clr-neutral-500: #56606e;
    --clr-neutral-600: #282e36;
    --clr-neutral-700: #202229;
    --clr-neutral-800: #17181a;
    --clr-neutral-900: #111213;
    --clr-blue: #88e5e6;
    --clr-red: #e68892;

    --background: var(--clr-neutral-800);
    --foreground: var(--clr-neutral-700);
    --text-bright: var(--clr-neutral-200);
    --text-dim: var(--clr-neutral-500);

    --border-radius: 1rem;
    --flex-dir: row;
    --gap: 1rem;
    --fs: 1rem;
    --width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Cursor */
html, body{
  cursor: url(/cursor.svg), auto;
  scroll-behavior: smooth;
}

/* Text selection */
::-moz-selection {
  color: var(--clr-red);
  background: var(--clr-blue);
}

::selection {
  color: var(--clr-red);
  background: var(--clr-blue);
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #88e5e6;
  border-radius: 100vw;
  border: solid 2px #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #e68892;
}

  /*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  body {
    font-family: var(--ff);
    background-color: var(--background);
  }

  h1{
    color: var(--clr-blue);
    font-weight: var(--fw-800);
    font-size: calc(var(--fs) * 3);
  }

  h2{
    color: var(--clr-blue);
    font-weight: var(--fw-600);
    font-size: calc(var(--fs) * 1.5);
    margin-block: var(--gap);
  }

  h3{
    color: var(--text-dim);
    font-weight: var(--fw-600);
    font-size: calc(var(--fs) * 1.2);
  }

  h5{
    color: var(--text-bright);
    font-weight: var(--fw-600);
    font-size: var(--fs);
  }

  p{
    color: var(--text-bright);
    font-weight: var(--fw-400);
    font-size: calc(var(--fs) / 1.1);
  }

  button{
    background: none;
    cursor: pointer;
    border: 2px solid var(--clr-neutral-100);
    border-radius: calc(var(--gap) * .5);
    padding: calc(var(--gap) * .5) calc(var(--gap) * 1);
    color: var(--clr-neutral-100);
    font-family: var(-ff);
    font-size: calc(var(--fs) * 1.2);
    transition: all 250ms ease-in;
  }

  button:hover{
    border-radius: calc(var(--gap) * .75);
    color: var(--clr-neutral-800);
    background: var(--clr-neutral-100);;
    font-family: var(-ff);
  }
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/

  header{
    position: fixed;
    top: 0;
    background-color: var(--foreground);
    width: 100%;
    filter: drop-shadow(0 2px 10px var(--clr-neutral-900));
    border-radius: 0 0 calc(var(--border-radius)*3) calc(var(--border-radius)*3);

    z-index: 999;
  }

  .header-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
  }

  .socialmedia ul{
    display: flex;
    list-style: none;
    gap: var(--gap);
  }

  .socialmedia ul img{

    --factor: 2;

    width: calc(var(--gap)*var(--factor));
    filter: brightness(0) invert(1);
    transition: all 250ms ease-in;
  }

  .socialmedia ul img:hover{
    filter: brightness(1) invert(0);
  }

  header img{
    max-width: 6rem;
  }
  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/

  .hero{
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .hero > img{
    position: absolute;
    top: 0;
    left: -15rem;
    width: 70%;
    z-index: -1;
  }

  .hero .container{
    gap: calc(var(--gap) * 0.25);
  }

  .hero h1{
    margin-top: 35%;
    justify-self: start;
    color: var(--clr-neutral-100);
  }

  .hero h3{
    justify-self: start;
    color: var(--clr-neutral-300);
  }

  .hero a{
    justify-self: start;
    margin-top: var(--gap);
  }

  main{
    width: 80%;
    background-color: var(--foreground);
    margin-inline: auto;
    margin-top: -12vh;
    margin-bottom: 10vh;
    padding: 10rem 5rem;
    border-radius: calc(var(--border-radius)*3);
  }

  .container{
    margin-inline: auto;
    max-width: var(--width);
    display: grid;
    place-items: center;
    gap: var(--gap);
  }

  .page-title{
    display: grid;
    place-items: center;
  }

  .text-only{
    width: 100%;
    text-align: center;
  }

  .img-right, .img-left{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: var(--gap);
  }

  .img-right img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top center;
    padding: 0;
    border: 0.5px solid var(--clr-neutral-300);
    border-radius: calc(2*var(--border-radius));
  }

  .img-left img{
    width: 35%;
    justify-self: end;
  }

  .img-left .content{
    width: 150%;
  }

  .img-right .content{
    align-self: center;
  }

  .grid{
    width: 100%;
    margin-top: calc(var(--gap)*5);
    display: grid;
    place-items: center;
    gap: calc(var(--gap) * 1)
  }

  .grid h3{
    justify-self: start;
  }

  .grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: calc(var(--gap) * 1);
  }

  .grid-item{
    display: grid;
    padding: calc(var(--gap) * 1);
    place-items: center;
    gap: calc(var(--gap) / 3);
    border: 0.5px solid var(--clr-neutral-300);
    border-radius: calc(var(--border-radius)*1.5) !important;
    overflow: hidden;
  }

  .grid-item img{
    width: 100%;
    object-fit: cover;
  }

  .full-width{
    width: 100% !important;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .full-width-item{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: none;
    background-color: var(--clr-neutral-600);
    padding: calc(var(--gap)*.5);
    border-radius: var(--gap);
    gap: calc(var(--gap)*.062);
  }

  .full-width-item h3{
    color: var(--clr-neutral-300);
  }

  .neutral200{
    background-color: var(--clr-neutral-200);
    padding: calc(var(--gap)*2.5);
  }

  .neutral200 h3{
    color: var(--clr-neutral-800);
  }

  .neutral200 p{
    color: var(--clr-neutral-600);
  }

  .gallery-item{
    margin: 0;
    padding: 0;
    height: fit-content;
    max-width: 30%;
    display: grid;
    gap: calc(var(--gap)*.125);
  }

  .gallery-item h3{
    margin-top: 1rem;
    text-decoration: none;
    color: var(--clr-neutral-200);
  }

  .gallery-item p{
    font-style: italic;
    color: var(--clr-neutral-300);
  }

  .grid-item a button{
    border: 1px solid var(--clr-neutral-100);
    font-size: calc(var(--fs)*.85);
  }

  .grid-item img{
    width: 80%;
  }

  .grid-item h5{
    place-self: start;
  }

  section{
    width: 100%;
    margin-top: calc(var(--gap)*5);
    display: grid;
    place-items: center;
    gap: var(--gap);
  }

  .gallery{
    width: 100%;
    margin-top: calc(var(--gap)*2);
    display: grid;
    gap: var(--gap);
    padding: 0;
  }

  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  footer{
    width: 100%;
    background-color: var(--foreground);
    border-radius: calc(var(--border-radius)*3) calc(var(--border-radius)*3) 0 0;
    padding: var(--gap);
  }

  .footer-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap) * 2);
  }
  
  .copyrights ul{
    font-family: var(--ff);
    list-style: none;
  }

  .copyrights ul a{
    color: var(--clr-blue);
  }

  .copyrights ul li{
    font-size: calc(var(--fs) / 1.2);
    color: var(--clr-neutral-100);
  }




  @media (width < 70em){
    :root{
        --border-radius: .5rem;
        --flex-dir: column;
        --gap: .5rem;
        --fs: .7em;
    }

    .header-container{
      flex-direction: column;
      gap: calc(var(--gap)*1.5);
    }

    .socialmedia ul{
      gap: calc(var(--gap)*3)
    }

    .socialmedia ul img{
      --factor: 3;
    }

    header img{
      max-width: 3.125rem;
    }

    .hero > img{
      top: 0;
      left: 50%;
      translate: -50%;
      width: 100%;
    }
  
    .hero .container{
      gap: calc(var(--gap) * 0.25);
    }
  
    .hero h1{
      margin-top: calc(var(--gap) * 75);
      justify-self: center;
    }
  
    .hero h3{
      justify-self: center;
    }
  
    .hero a{
      justify-self: center;
    }

    main{
        margin-top: -5vh;
        width: 95%;
        padding: calc(var(--gap)*5) calc(var(--gap)*.5);
    }

    .container{
        max-width: 95%;
    }

    .img-right{
      grid-template-columns: 1fr;
    }

    .img-right .content{
        width: 100%;
    }

    .img-left img{
        grid-row: 1;
        justify-self: center;
    }

    .img-left .content{
        width: 100%;
    }

    .service{
      width: 100%;
      display: grid;
      grid-template-columns: 30% 1fr;
      grid-template-rows: 10% 1fr;
    }

    .service img{
      grid-column: 1;
      grid-row: 1 / -1;
    }

    .service h5, .service p{
      grid-column: 2;
    }

    .service h5{
      grid-row: 1;
    }

    .service p{
      grid-row: 2;
    }

    .postdesign{
        margin-block: calc(var(--gap) * 2);
      }

    .postdesign > img{
        width: 100%;
    }

    .threeColors{
      flex-direction: row !important;
    }

    #threeImg{
      width: 70%;
    }

    footer{
      padding-block: calc(var(--gap) * 3);
    }

    .footer-container{
      flex-direction: column-reverse;
    }

    .footer-container img{
      width: 25%;
    }
  }
